<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>



<div class="todo">
    <h1 class="todo__header">To Do App 📝</h1>

    <div class="card todo__headerContainer">
        <p class="font-weight-bold">What are we doing today? 🔥</p>
        <form class="todo__form" action="{{ url_for('add') }}" method="POST">
            <input placeholder="Write task here..." type="text" name="todoitem">
            <input class="btn btn-info" type="submit" value="➕ Add Item">
        </form>
    </div>

    <div class="todo__itemContainer">

        <div class="card todo__innerItemContainer">
            <h2 class="todo__itemHeader">To Do's 🕐</h2>

            <ul class="todo__container">
                {% for todo in incomplete %}
                <li class="todo__item">
                    <p>{{ todo.text }}</p>
                    <a class="btn btn-outline-success" href="#" class="">Complete
                        ➡️</a>
                    <a class="todo__close" href="#" class="">❌</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="card todo__innerItemContainer">
            <h2 class="todo__itemHeader">Done ✅</h2>

            <ul class="todo__container">

                <li class="todo__item">
                    <p>My finished task X</p>
                    <a class="btn btn-outline-secondary" href="#" class="">⬅️
                        Undo</a>
                    <a class="todo__close" href="#" class="">❌</a>
                </li>

            </ul>
        </div>
    </div>
</div>

</body>
</html>